<h1>Yaps.co</h1>


<input type="text" width="50" autofocus="true" id="send_text" placeholder="Messages to send."><button id="send_button">Click</button>
<h4>Messages:</h4>
<ul>
<div id="messages">
</div>
</ul>



